
<footer class="bg-white   dark:bg-gray-800 zzzzzzzz">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">Hệ thống vận hành bởi <a href="/" class="hover:underline">MD8™</a> © 2024
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0   mobile">
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">Giới thiệu</a>
        </li>
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">Chính sách</a>
        </li>
       
        <li>
            <a href="#" class="hover:underline">Liên hệ</a>
        </li>
    </ul>
    </div>
</footer>

</div>


<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>


</body>

</html>